body
{
    font-size: 12px;
    font-family: 宋体;
    text-align: center;
    background-color: #F7F7F7;
    height: 482px;
}
#maindiv
{
    width: 1173px;
    margin-top: 0px;
    margin-left:auto;
    margin-right:auto;
}
#top 
{
    width:1173px;
    height:8px;
    background:#000000;
}
#header
{
    width: 1173px;
    height: 115px;
    text-align: right;
    clip: rect(60px auto auto auto);
}
#header #logo
{ 
    width:73px;
    height:87px;
    text-align:left;
    background-image:url(images/example7-7/logo.jpg);
    float:left;
}

#menu
{
    width: 955px;
    height: 87px;
    color: #3381da;
    text-align:center;
    float:left;
}
#menu a, #menu a:link, #menu a:visited, #menu a:active
{
    text-decoration: none;
    color: #000099;
    font-size: larger;
    font-weight: 700;
}
#menu a:hover
{
    color: #ff0000;
    text-decoration: underline;
}

#header #friend
{ 
    width:140px;
    height:87px;
    float:left;
    background-image:url(images/example7-7/logoarea_bg2.jpg);
}
#banner
{ 
    width:1173px;
    height:20px;
    float:left;
    background:#808080;
}
#main #mainarea1
dl{
    width:280px;
    height:312px;
    text-align:center;
    float:left;
    margin-top: 34px;
}
#main #mainarea2
dl{
    width:280px;
    height:311px;
    text-align:center;
    float:left;
    margin-top: 20px;
}
#main #mainarea3
dl{
    width:280px;
    height:308px;
    float:left;
    text-align:center;  
    margin-top: 11px;
    margin-left: 0px;
}
#main #mainarea4
dl{
    width:280px;
    height:305px;
    text-align:center;
     margin-top: 0px;
}
#footer
{ 
    width:1173px;
    height:50px;
    margin-top:8px;
}