body 
{
    text-align:center; 
}
div 
{
    text-align:center; 
    width:400px; 
    border:solid 1px blue; 
}
h1
{
    font-size:x-large;
    color:red;
}
h2 
{
    font-size:large;  
    color:blue;
}
